<div class="contactName-2">
<% @contatos.each do |contato| %>
<div class="contactName">

<ul class="list-contact">
<li class="iten-list-contact"><%= link_to contato.name, contato %></li>
</ul>
</div>

<% end %>
</div>
<div class="button">
<%= link_to "Novo Contato", new_contato_path(@contato) %>
</div>
